.aside_left
{
    width: 19%;
    margin-right: 10px;
}

.al_intro
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    background: rgb(250,250,250);
    padding: 20px;
    border: 1px solid rgb(241,241,241);
}

.al_intro-heading
{
    font-weight: bold;
    font-size: 20px;
    margin:0;
    margin-bottom: 10px;
    cursor: default;
}

.al_intro-heading a
{
    text-decoration: none;
    color: rgb(53,73,223);
}

.al_intro-heading a:hover
{
    color:rgb(47,59,179);
    text-decoration: underline;
}

.al_intro-subtext
{
    color: grey;
    font-size: 15px;
    margin:0;
    margin-bottom: 10px;
    cursor: default;
}

.al_intro button
{
    font-size: 15px;
    margin: 0 4px;
    width: 100%;
    height:40px;
    margin:3px 0;
}

.button_logIn
{
    border:none;
    background: none;
    color:black;
    width: 70px;
}

.button_logIn:hover
{
    color: rgb(53,73,223);
    text-decoration: underline;
    background: rgba(0,0,255,.1);
    border-radius: 5px;
    cursor: pointer;
}

.button_createAccount
{
    border:1px solid rgb(53,73,223);
    border-radius: 5px;
    background: none;
    color:rgb(53,73,223);
}

.button_createAccount:hover
{
    color: white;
    text-decoration: underline;
    background: rgb(53,73,223);
    cursor: pointer;
}

/*----------------------------------------------*/

.al_nav ul
{
    list-style-type: none;
    padding: 0;
}

.al_nav li
{
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin:0;
    padding: 10px;
}

.al_nav li p, .al_nav li i
{
    margin:0;
    cursor: pointer;
}

.al_nav li i
{
    padding-right: 5px;
}

.al_nav li:hover p
{
    text-decoration: underline;
    color: rgb(53,73,223);
}

.al_nav li:hover
{
    background: rgba(0,0,255,.1);   
    cursor: pointer;
}

.al_nav_other h2
{
    font-size: 20px;
    cursor: default;
}

/*--------------------------------------*/
.al_social
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.al_social i
{
    font-size: 23px;
    padding: 8px;
    border-radius: 5px;
}

.al_social i:hover
{
    background: rgb(0,0,255,.1);
    color:rgb(53,73,223);
    cursor: pointer;
}

/*----------------------------*/
.al_hashtags h3
{
    margin-top: 30px;
}

.hashtags_list
{
    display: flex;
    flex-direction: column;
    max-height: 42vh;
    overflow: auto;
}

.hashtags_list a
{
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 15px;
    margin: 0;
    border-radius: 5px;
}

.hashtags_list a:hover
{
    text-decoration: underline;
    background:rgb(0,0,255,.1);
    color:rgb(53,73,223);
}

/*-----------------------*/
.al_merch
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(250,250,250);
    border-radius: 10px;
    border: 1px solid rgb(241,241,241);
    margin: 20px 0;
}

.al_merch img
{
    width: 90%;
    margin: 20px 10px;
    border-radius: 10px;
    cursor: pointer;
    object-fit:fill;
}

.al_merch h2
{
    margin-bottom: 30px;
    padding: 0 10px;
    color:rgb(53,73,223);
    cursor: pointer;
}
/*------------------------*/

.al_additionalInfo
{
    background: rgb(250,250,250);
    border-radius: 10px;
    border: 1px solid rgb(241,241,241);
    padding: 10px 10px;
    font-size: 15px;
}

.al_additionalInfo p
{
    margin: 0px;
    line-height: 25px;
}

.al_additionalInfo li a
{
    color:rgb(53,73,223) ;
    text-decoration: none;
}
.al_additionalInfo ul
{
    margin: 10px 0;
}

.forem
{
    text-decoration: none;
    color: rgb(53,73,223);
}