<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesNavFooter.css">
        <link rel="stylesheet" href="stylesCenter.css">
        <link rel="stylesheet" href="stylesAsideLeft.css">
        <link rel="stylesheet" href="stylesAsideRight.css">
        <link rel="stylesheet" href="stylesMain.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
        <title>Dev Community</title>
    </head>
    <body>
        <nav>
            <div class="nav_left">
                <a href="index.html">
                    <img src="../assets/devlogo.png" alt="">
                </a>
                <div class="nav_left-search">
                    <input type="text" placeholder="Search..." name="" id="">
                    <img src="../assets/search.png" alt="">
                </div>
            </div>
            <div class="nav_right">
                <button class="nav_right-log">
                    Log in
                </button>
                <button class="nav_right-create">
                    Create account
                </button>
            </div>
        </nav>
        <div class="main">
            <aside class="aside_left">
                <div class="al_intro">
                    <h2 class="al_intro-heading">
                        <a href="">DEV Community</a>
                        is a community of 801,259 amazing developers
                    </h2>
                    <p class="al_intro-subtext">
                        We're a place where coders share, stay up-to-date and grow their careers.
                    </p>
                    <button class="button_createAccount">
                        Create account
                    </button>
                    <button class="button_logIn">
                        Log in
                    </button>
                </div>
                <div class="al_nav">
                    <ul>
                        <li>
                            <i class="material-icons">house</i>
                            <p>
                                Home
                            </p>
                        </li>
                        <li>
                            <i class="material-icons">list</i>
                            <p>
                                Listings
                            </p>
                        </li>
                        <li>
                            <i class="material-icons">mic</i>
                            <p>
                                Podcasts
                            </p>
                        </li>
                        <li>
                            <i class="material-icons">camera</i>
                            <p>
                                Videos
                            </p>
                        </li>
                        <li>
                            <i class="material-icons">tag</i>
                            <p>
                                Tags
                            </p>
                        </li>
                        <li>
                            <i class="material-icons">light</i>
                            <p>
                                FAQ
                            </p>
                        </li>
                        <li>
                            <i class="material-icons">shop</i>
                            <p>
                                DEV Shop
                            </p>
                        </li>
                        <li>
                            <i class="material-icons">money</i>
                            <p>
                                Sponsors
                            </p>
                        </li>
                        <li>
                            <i class="material-icons">phone</i>
                            <p>
                                Contact
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="al_nav al_nav_other">
                    <h2>
                        Other
                    </h2>
                    <ul>
                        <li>
                            <i class="material-icons">thumb_up</i>
                            <p>
                                Code of Conduct
                            </p>
                        </li>
                        <li>
                            <i class="material-icons">lock</i>
                            <p>
                                Privacy Policy
                            </p>
                        </li>
                        <li>
                            <i class="material-icons">gavel</i>
                            <p>
                                Terms of Use
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="al_social">
                    <i class="bi-twitter"></i>
                    <i class="bi-facebook"></i>
                    <i class="bi-github"></i>
                    <i class="bi-instagram"></i>
                    <i class="bi-twitch"></i>
                </div>
                <div class="al_hashtags">
                    <h3>
                        Popular Tags
                    </h3>
                    <div class="hashtags_list">
                        <a href="">
                            #javascript
                        </a>
                        <a href="">
                            #webdev
                        </a>
                        <a href="">
                            #beginners
                        </a>
                        <a href="">
                            #programming
                        </a>
                        <a href="">
                            #tutorial
                        </a>
                        <a href="">
                            #react
                        </a>
                        <a href="">
                            #python
                        </a>
                        <a href="">
                            #productivity
                        </a>
                        <a href="">
                            #css
                        </a>
                        <a href="">
                            #devops
                        </a>
                        <a href="">
                            #codenewbie
                        </a>
                    </div>
                </div>
                <div class="al_merch">
                    <img src="../assets/merch.jpg" alt="">
                    <h2>
                        DEV Up Your Style
                    </h2>
                </div>
                <div class="al_additionalInfo">
                    <p>
                        DEV runs on 100% open source code known as <a class="forem" href="">Forem</a>.
                    </p>
                    <p>
                        Contribute to the codebase or host your own!
                    </p>
                    <p>
                        <strong>Check these out!</strong>
                        <i class="bi-arrow-down"></i>
                    </p>
                    <ul>
                        <li>
                            <a href="">
                                Main Repo Forem
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Self-Host Instructions
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <div class="center">
                <div class="center_buttons">
                    <button>
                        Relevant
                    </button>
                    <button>
                        Latest
                    </button>
                    <button>
                        Top
                    </button>
                </div>
                <div class="main_cards">
                    <div class="card">
                        <img class="card_img" src="../assets/foto.jpg" alt="">
                        <div class="card_text">
                            <div class="card_text_author">
                                <img src="../assets/autor.jpg" alt="">
                                <div class="card_text_author_nameAndDate">
                                    <p class="name">
                                        Madza
                                    </p>
                                    <p class="date">
                                        Jan 25
                                    </p>
                                </div>
                            </div>
                            <div class="card_text_main">
                                <p class="card_title">
                                    17 Killer Web Apps You Should Use to Increase Productivity
                                </p>
                                <div class="card_hashtags">
                                    <p>
                                        #webdev
                                    </p>
                                    <p>
                                        #productivity
                                    </p>
                                    <p>
                                        #javascript
                                    </p>
                                    <p>
                                        #css
                                    </p>
                                </div>
                                <div class="card_bottom">
                                    <div class="card_bottom_reactions">
                                        <div class="reactions">
                                            <img src="../assets/fav.png">
    
                                            </i>
                                            <p>
                                                1191 reactions
                                            </p>
                                        </div>
                                        <div class="comments">
                                            <img src="../assets/comment.png">
    
                                            </img>
                                            <p>
                                                comments
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card_bottom_save">
                                        <p>
                                            4 min read
                                        </p>
                                        <button>
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card_img" src="" alt="">
                        <div class="card_text">
                            <div class="card_text_author">
                                <img src="../assets/autor.jpg" alt="">
                                <div class="card_text_author_nameAndDate">
                                    <p class="name">
                                        Madza
                                    </p>
                                    <p class="date">
                                        Jan 25
                                    </p>
                                </div>
                            </div>
                            <div class="card_text_main">
                                <p class="card_title">
                                    17 Killer Web Apps You Should Use to Increase Productivity
                                </p>
                                <div class="card_hashtags">
                                    <p>
                                        #webdev
                                    </p>
                                    <p>
                                        #productivity
                                    </p>
                                    <p>
                                        #javascript
                                    </p>
                                    <p>
                                        #css
                                    </p>
                                </div>
                                <div class="card_bottom">
                                    <div class="card_bottom_reactions">
                                        <div class="reactions">
                                            <img src="../assets/fav.png">
    
                                            </i>
                                            <p>
                                                1191 reactions
                                            </p>
                                        </div>
                                        <div class="comments">
                                            <img src="../assets/comment.png">
    
                                            </img>
                                            <p>
                                                comments
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card_bottom_save">
                                        <p>
                                            4 min read
                                        </p>
                                        <button>
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card_img" src="" alt="">
                        <div class="card_text">
                            <div class="card_text_author">
                                <img src="../assets/autor.jpg" alt="">
                                <div class="card_text_author_nameAndDate">
                                    <p class="name">
                                        Madza
                                    </p>
                                    <p class="date">
                                        Jan 25
                                    </p>
                                </div>
                            </div>
                            <div class="card_text_main">
                                <p class="card_title">
                                    17 Killer Web Apps You Should Use to Increase Productivity
                                </p>
                                <div class="card_hashtags">
                                    <p>
                                        #webdev
                                    </p>
                                    <p>
                                        #productivity
                                    </p>
                                    <p>
                                        #javascript
                                    </p>
                                    <p>
                                        #css
                                    </p>
                                </div>
                                <div class="card_bottom">
                                    <div class="card_bottom_reactions">
                                        <div class="reactions">
                                            <img src="../assets/fav.png">
    
                                            </i>
                                            <p>
                                                1191 reactions
                                            </p>
                                        </div>
                                        <div class="comments">
                                            <img src="../assets/comment.png">
    
                                            </img>
                                            <p>
                                                comments
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card_bottom_save">
                                        <p>
                                            4 min read
                                        </p>
                                        <button>
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="aside_right">
                <div class="ar_listings">
                    <div class="listings_header">
                        <h2>
                            Listings
                        </h2>
                        <a href="">
                            See all
                        </a>
                    </div>
                    <div class="listings_container">
                       <p class="listing_title">
                            Speak at Citus Con: An Event for Postgres
                       </p> 
                       <p class="listing_desc">
                           cfp
                       </p>
                    </div>
                    <div class="listings_container">
                        <p class="listing_title">
                            A Forem for Nfts, web3, defi & art.
                        </p> 
                        <p class="listing_desc">
                            collabs
                        </p>
                     </div>
                     <div class="listings_container">
                        <p class="listing_title">
                            Thank you all for your support. 100 followers reached
                        </p> 
                        <p class="listing_desc">
                            misc
                        </p>
                     </div>
                     <div class="listings_container">
                        <p class="listing_title">
                            This will make you more easy for growth use web accessibility tool on your government and private website
                        </p> 
                        <p class="listing_desc">
                            products
                        </p>
                     </div>
                     <div class="createListing">
                         <a href="">
                            Create a Listing
                         </a>
                     </div>
                </div>
                <div class="ar_hashtags ar_listings">
                    <div class="hashtags_header listings_header">
                        <h2>
                            #watercooler
                        </h2>
                    </div>
                    <div class="listings_container hashtag_container">
                       <p class="listing_title">
                            Why Many Web Developers Are Obsessed With CSS-Only Things?
                       </p> 
                       <p class="listing_desc hashtag_desc">
                           1 comment
                       </p>
                    </div>
                    <div class="listings_container hashtag_container">
                        <p class="listing_title">
                            What courses do you use to study minikube, kubernetes for CKAD certification?
                        </p> 
                        <p class="listing_desc hashtag_desc new">
                            New
                        </p>
                     </div>
                     <div class="listings_container hashtag_container">
                        <p class="listing_title">
                            What do you do when Stack Overflow is down?
                        </p> 
                        <p class="listing_desc hashtag_desc">
                            14 comments
                        </p>
                     </div>
                     <div class="listings_container hashtag_container">
                        <p class="listing_title">
                            FOSS projects should describe what is a good actor behavior
                        </p> 
                        <p class="listing_desc hashtag_desc new">
                            New
                        </p>
                     </div>
                </div>
                <div class="ar_resources">
                    <h4>
                        trending guides/resources
                    </h4>
                    <div class="resources_container">
                        <div>
                            10 Frameworks Software Developers can learn in 2022
                        </div>
                        <div>
                            10 Best Cloud Computing Certifications to Aim in 2022
                        </div>
                        <div>
                            <i class="material-icons">rocket_launch</i>
                            10 Trending projects on GitHub for web developers - 31st December 2021
                        </div>
                    </div>
                </div>
                <div class="ar_resources">
                    <h4>
                        recently queried
                    </h4>
                    <div class="resources_container">
                        <div>
                            gRPC vs REST
                        </div>
                        <div>
                            Flask HTTPS
                        </div>
                        <div>
                            How to Click Faster
                        </div>
                        <div>
                            Tree Shaking in React
                        </div>
                        <div>
                            Random Colors
                        </div>
                    </div>
                </div>
            </aside>
        </div>
        <footer>
            <p>
                <a href="">DEV Community</a>
                 — A constructive and inclusive social network for software developers. With you every step of your journey.
            </p>
            <p>
                Built on <a href="">Forem</a>  — the <a href="">open source</a> software that powers <a href="">DEV</a> and other inclusive communities.
            </p>
            <p>
                Made with love and <a href="">Ruby on Rails</a>. DEV Community © 2016 - 2022.
            </p>
            <i class="material-icons">spa</i>
        </footer>
    </body>
</html>