<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesNavFooter.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <title>Welcome! DEV Community</title>
</head>
<body>
    <nav>
        <div class="nav_left">
            <a href="index.html">
                <img src="../assets/devlogo.png" alt="">
            </a>
            <div class="nav_left-search">
                <input type="text" placeholder="Search..." name="" id="">
                <img src="../assets/search.png" alt="">
            </div>
        </div>
        <div class="nav_right">
            <button class="nav_right-log">
                Log in
            </button>
            <button class="nav_right-create">
                Create account
            </button>
        </div>
    </nav>
    <footer>
        <p>
            <a href="">DEV Community</a>
             — A constructive and inclusive social network for software developers. With you every step of your journey.
        </p>
        <p>
            Built on <a href="">Forem</a>  — the <a href="">open source</a> software that powers <a href="">DEV</a> and other inclusive communities.
        </p>
        <p>
            Made with love and <a href="">Ruby on Rails</a>. DEV Community © 2016 - 2022.
        </p>
        <i class="material-icons">spa</i>
    </footer>
</body>
</html>