.center
{
    margin: 0 5px;
    width: 53%;
}

.center_buttons
{
    /* margin:10px 0; */
    cursor:default;
}

.center_buttons button
{
    border:none;
    border-radius: 5px;
    padding:10px;
    font-size: 18px;
    background: none;
    cursor: pointer;
}

.center_buttons button:hover
{
    background: white;
    color: blue;
}

.main_cards
{
    margin: 5px 0;
}

.card
{
    border: 1px solid rgb(227,227,227);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    cursor: default;
    background: white;
    margin-bottom: 15px;
}

.card_img
{
    border-top-right-radius:8px;
    border-top-left-radius:8px;
    cursor: pointer;
    max-height: 200px;
    object-fit: cover;
}

.card_text
{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.card_text_author
{
    width: 10%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.card_text_author img
{
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.card_text_author_nameAndDate p
{
    margin: 0;
    border-radius: 4px;
}

.name 
{
    font-size:15px;
    color: grey;
}

.date
{
    font-size: 12px;
    color: grey;
    text-align: center;
}

.name:hover
{
    background: rgb(246,246,246);
    transition:0.3s;
    color:black;
}

.date:hover
{
    color:black;
}

.card_text_main
{
    padding-left: 50px;
}

.card_title
{
    font-size: 30px;
    font-weight: bold;
    margin:0;
}

.card_title:hover
{
    transition: 0.1s;
    color:rgb(47,58,178);
    cursor: pointer;
}

.card_hashtags
{
    display: flex;
    flex-direction: row;
    height: 40px;
}

.card_hashtags p
{
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border:1px solid white ;
}

.card_hashtags p:hover
{
    transition: .5s;
    border:1px solid orange;
    background: rgba(255, 165, 0, 0.1);
    padding: 5px;
    cursor: pointer;
}

.card_bottom
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
}

.card_bottom_reactions
{
    display: flex;
    flex-direction: row;
}

.card_bottom_reactions div
{
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    border:1px solid white;
}

.reactions img, .comments img
{
    padding-right: 10px;
}

.reactions:hover, .comments:hover
{
    transition: .5s;
    background: rgb(246,246,246);
}

.card_bottom_save
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card_bottom_save p
{
    padding-right: 10px;
    font-size: 12px;
    cursor:default;
}

.card_bottom_save button
{
    border: none;
    background: rgb(214,214,215);
    height: 100%;
    border-radius: 5px;
}

.card_bottom_save button:hover
{
    transition:0.3s;
    background: rgb(189,189,189);
    cursor: pointer;
}