.main
{
    margin: 75px 55px;
    display: flex;
    justify-content: center;
}
body
{
    background: rgb(245,245,245);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}